body{
    background-color: whitesmoke;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.nav-area{
    display: flex;
    
    
}

.row{
    padding-bottom: 30px;
}


.container-fluid{
    
    background-color: white;
}

.container-fluid ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    padding-top: 20px;
    
}

.container-fluid ul li a{
    text-decoration: none;
    display: flex;
    color: black;
    

}

.container-fluid i{
    padding-top: 30px;
    color: black;
    font-size: 30px;
    padding-left: 20px ;
}

.logo img{
    padding-top: 30px;
  
}

.navbar3{
    
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 150px;
    background-color: whitesmoke;
    margin-top: 5px;
}
.navbar3 a{

margin-left: 20px;
font-size: 30px;
text-decoration: none;
list-style: none;
color: black;
padding: 30px;
opacity: 0.8;
}

.first img{
    padding: 50px;
  transition: transform .2s; 
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.first:hover{
    transform: scale(1.5);
}

.second img{
    padding: 50px;
  transition: transform .2s; 
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.second:hover{
    transform: scale(1.5);
}

.third img{
    padding: 50px;
  transition: transform .2s; 
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.third:hover{
    transform: scale(1.5);
}

.fourth img{
    padding: 50px;
  transition: transform .2s; 
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.fourth:hover{
    transform: scale(1.5);
}

.fifth img{
  padding: 50px;
  transition: transform .2s; 
  width: 580px;
  height: 700px;
  margin: 0 auto;
}

.fifth:hover{
    transform: scale(1.1);
}

.sixth img{
    padding: 50px;
    transition: transform .2s; 
    width: 500px;
    height: 380px;
    margin: 0 auto;
  }
  
  .sixth:hover{
      transform: scale(1.1);
  }

  .seventh img{
    padding: 50px;
    transition: transform .2s; 
    width: 500px;
    height: 380px;
    margin: 0 auto;
  }
  
  .seventh:hover{
      transform: scale(1.1);
  }

  .eighth img{
    padding: 50px;
    transition: transform .2s; 
    width: 500px;
    height: 380px;
    margin: 0 auto;
  }
  
  .eighth:hover{
      transform: scale(1.1);
  }

  .nineth img{
    padding: 50px;
    transition: transform .2s; 
    width: 500px;
    height: 380px;
    margin: 0 auto;
  }
  
  .nineth:hover{
      transform: scale(1.1);
  }

.navbar3 h6{
    margin-left: 50px;
    text-decoration: none;
    list-style: none;   
}



span{
    padding-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    opacity: 0.8;
}

main{
    display: flex;
    text-decoration: none;
    margin-top: 700px;
    gap: 40px;
    margin-left: 45px;
}

main a{
    color: yellow;
}
main h3{
    color: black;
}

main span{
    font-size: 20px;
}


/* .col-3 {
    width: 25%;
}


.col-9 {
    width: 75%;
} */


.row img{
    padding-top: 30px;
    
}

.row {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-style:normal;
  }

  .row .btn {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .row .btn:hover {
    background-color: black;
    color: white;
  }

  .top-left {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-style:normal;
    color: black;
  }

  .top-right{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-style:normal;
    color: black;
  }

  .top-left1{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-style:normal;
    color: black;
  }

  .right{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-style:normal;
    color: white;
  }

  h3{
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2em;
    position: relative;
    z-index: 1;
    margin: 0 0 45px;
    padding: 10px;
    color: #000;
    top: 30px;
    left: 10%;
    background-color: white;
  }

 
  


 @media all and (max-width:768px) {
    .row {
        padding-top: 0;
        padding-bottom: 10px;
        margin: 1em 2em;
    }
    }

    .end .links{
        display: flex;
    }
    
    .letter button {
        width: 200px;
        padding: 10px 0;
        margin-top: 10px;
        border-radius: 28px;
        background-color: #33cad5;
        color: white;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        border: none;
    }
    
    .letter input {
        border: 2px solid aliceblue;
        border-radius: 20px;
    }
    
    .letter h5 {
        text-align: center;
        
    }
    
    .letter button:hover {
        background-color: #282828;
        color: #FAFAFA;
    }

 